<div>
  <nav class="bg-white shadow-sm">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <!-- Logo -->
      <div class="flex items-center">
        <a routerLink="/" class="text-xl font-bold text-blue-600">AlumniConnect</a>
      </div>

      <!-- Desktop Menu -->
      <div class="hidden md:flex items-center space-x-8">
        <a routerLink="/" class="text-gray-600 hover:text-blue-600 transition hover:cursor-pointer ">Home</a>
        <a routerLink="/ourwork" class="text-gray-600 hover:text-blue-600 transition hover:cursor-pointer ">Our Work</a>
        <a routerLink="/contact" class="text-gray-600 hover:text-blue-600 transition hover:cursor-pointer ">Contact</a>
        <a class="text-gray-600 hover:text-blue-600 transition border p-2 rounded-xl border-blue-600 hover:cursor-pointer " (click)="isLoginOpen = true">Login</a>
        <a class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition hover:cursor-pointer " (click)="openRegister()">Register</a>
      </div>

      <!-- Mobile menu button -->
      <div class="md:hidden flex items-center">
        <button (click)="toggleMenu()" type="button" class="text-gray-500 hover:text-gray-600 focus:outline-none">
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile Menu (hidden by default) -->
  <div class="md:hidden" [class.hidden]="!isMenuOpen">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a routerLink="/" class="block px-3 py-2 text-gray-600 hover:cursor-pointer hover:text-blue-600">Home</a>
      <a routerLink="/ourwork" class="block px-3 py-2 text-gray-600 hover:cursor-pointer hover:text-blue-600">Our Work</a>
      <a routerLink="/contact" class="block px-3 py-2 text-gray-600 hover:cursor-pointer hover:text-blue-600">Contact</a>
      <a class="block px-3 py-2 border-blue-600 text-gray-600 hover:cursor-pointer hover:text-blue-600" (click)="isLoginOpen = true">Login</a>
      <a class="block px-3 py-2 text-blue-600 font-medium hover:cursor-pointer " (click)="openRegister()">Register</a>
    </div>
  </div>
</nav>
</div>

<router-outlet></router-outlet>


<p-toast [showTransitionOptions]="'250ms'" [showTransformOptions]="'translateX(100%)'" [hideTransitionOptions]="'150ms'" [hideTransformOptions]="'translateX(100%)'" />


@if (isRegOpen) {
  <app-registeruser (close)="isRegOpen = false"></app-registeruser>
}

@if (isLoginOpen) {
  <app-login-popup (close)="isLoginOpen = false"></app-login-popup>
}

<footer></footer>